* {
  margin: 0;
  font-family: 'Roboto';
  color: #878787;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Robotolight.woff) format("woff");
}

.block {
  margin: 16px 15px;
}

.block__img {
  float: right;
}

.block_best .block__img {
  margin-top: -27px;
  float: none;
  text-align: center;
}

.block__img img {
  max-width: 40vw;
}

.block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 9px 20px;
  outline: 1px solid #ff6666;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: 5px 5px 20px 0px #f8f8f8;
          box-shadow: 5px 5px 20px 0px #f8f8f8;
}

.block__content:hover {
  outline: 3px solid #ff6666;
}

.block__content:hover .block__text {
  text-decoration: underline;
}

.block_more50 .block__content {
  outline: 1px solid #ff931d;
}

.block_more50 .block__content:hover {
  outline: 3px solid #ff931d;
}

.block_more30 .block__content {
  outline: 1px solid #ffbe17;
}

.block_more30 .block__content:hover {
  outline: 3px solid #ffbe17;
}

.block__top {
  margin-left: -8px;
}

.block__circle {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #ff6666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_more50 .block__circle {
  background-color: #ff931d;
}

.block_more30 .block__circle {
  background-color: #ffbe17;
}

.block__circle p {
  text-align: center;
  color: white;
}

.block__price {
  border-bottom: dashed 2px #e6e6e6;
}

.block_best .block__price {
  margin-top: 34px;
}

.block__price_last {
  display: inline-block;
  font-size: 21pt;
}

.block_best .block__price_last {
  font-size: 25pt;
}

.block__price_last p {
  color: #ff6666;
}

.block__price_old {
  font-size: 13pt;
  display: inline-block;
}

.block__price_old::before {
  content: "";
  border-bottom: 2px solid #878787;
  position: absolute;
  width: 55px;
  height: 10px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.block__price_text {
  font-size: 13pt;
  float: right;
  padding-top: 14px;
}

.block__text {
  margin: 15px 0px 15px 8px;
}

.block_best .block__text {
  margin: 16px 0px 20px 0px;
}

.block__text p {
  width: 60%;
  font-size: 14pt;
}

.block_best .block__footer {
  border-top: dashed 3px #e6e6e6;
}

.block__footer {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block__footer p {
  font-size: 13pt;
}

.block__footer_rectangle {
  width: 1px;
  background: #d8d8d8;
}

@media (max-width: 330px) {
  .block__text p {
    width: 100%;
  }
  .block__img {
    float: none;
  }
  .block__img img {
    max-width: 60vw;
  }
  .block_best .block__img img {
    max-width: 60vw;
  }
  .block__price_text {
    float: none;
  }
  .block__content {
    min-height: 0;
  }
  .block_best .block__content {
    min-height: 0;
  }
  .block_best .block__img {
    margin-top: 0px;
  }
}

@media (min-width: 640px) and (max-width: 836px) {
  .block__center {
    width: 90vw;
  }
  .block_best .block__img {
    margin-top: -5px;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .product-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[auto-fill];
        grid-template-rows: repeat(auto-fill, 1fr);
  }
  .product-list .block_best {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .product-list .block__img img {
    max-width: 15vw;
  }
  .product-list .block_best .block__img img {
    max-width: none;
  }
}

@media (min-width: 998px) and (max-width: 1200px) {
  .product-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[auto-fill];
        grid-template-rows: repeat(auto-fill, 1fr);
  }
  .product-list .block_best {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .product-list .block__img img {
    max-width: 10vw;
  }
  .product-list .block_best .block__img img {
    max-width: none;
  }
  .product-list .block_best .block__img {
    margin: -7px 0px 0px 47px;
  }
}

@media (min-width: 998px) and (max-width: 1009px) {
  .product-list .block_best .block__img {
    margin: 38px 0px 0px 47px;
  }
}

@media (min-width: 1200px) {
  .product-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[auto-fill];
        grid-template-rows: repeat(auto-fill, 1fr);
  }
  .product-list .block_best {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .product-list .block__img img {
    max-width: 10vw;
  }
  .product-list .block_best .block__img img {
    max-width: none;
  }
}
/*# sourceMappingURL=style.css.map */