ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
li {
    height: 30px;
    width: 100%;
}
.sortable {
    width: 50vw;
    padding: 5px;
    border: 2px solid black;
    &__green {background-color: #008000;}
    &__light-blue {background-color: #0000FF;}
    &__orange {background-color: #FFA500;}
    &__violet {background-color: #EE82EE;}
    &__yellow {background-color: #FFFF00;}
    &__red {background-color: #FF0000;}
    &__blue {background-color: #4B0082;}
}

body {
    background-color: #9e7878;
}

.photo-grid img {
    cursor: move;    
    width: 100px;
}

.trash {
    padding: 10px 10px;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
}

.highlight {
    border: 1px dashed #b5c051;
    border-radius: 10px;
    &-accept {
    background: #d9dfa4; 
    }
}