*{
    margin: 0;
}

h2, h3, p {
    padding: 10px;
}

.float .head {
    height: 15vh;
    background-color: #111e5c;
    text-align: center;
    color: aliceblue;
}

.float .cont {
    height: 75vh;
}

.float .container{
    float: left;
}

.float .navigation {
    float: left;
    background-color: #f78820;
    height: 75vh;
}

.float .main {
    background-color: white;
    width: 82vw;
}

.float .related_links {
    float: right;
    background-color: #6e304e;
    width: 15vw;
    height: 75vh;
}

.float .footer {
    text-align: center;
    height: 10vh;
    background-color: yellowgreen;
}

@media (max-width: 1000px) {
    .float .cont{
        height: 100%;
    }
    .float .container {
        float: none;
        min-height: 65vh;
    }
    .float .navigation {
        width: 100%;
        height: 10vh;
        float: none;
    }
    .float .main {
        width: 100%;
    }
    .float .related_links {
        height: 10vh;
        width: 100%;
        float: none;
    }
}

.flex .head {
    height: 14vh;
    text-align: center;
    display: flex;
}

.flex .logo {
    background-color: #B22222;
    color: white;
}

.flex .head_left {
    align-self: flex-end;
    width: 100%;
}

.flex .phone {
    height: 7vh;
    background-color: #32CD32;
}
.flex .menu {
    height: 7vh;
    background-color: #66CDAA;
}

.flex .container {
    display: flex;
    height: 70vh;
}

.flex .container_right {
    width: 75vw;
}

.flex .slideshow {
    min-height: 25vh;
    background-color: #7FFFD4;
}

.flex .sidebar {
    align-self: flex-end;
    width: 25vw;
    height: 100%;
    background-color: #E0FFFF;
}

.flex .footer {
    text-align: center;
    min-height: 16vh;
    background-color: yellowgreen;
}

@media (max-width: 900px) {
    .flex .container {
        display: block;
        min-height: 70vh;
        height: 100%;
    }    
    .flex .container_right {
        width: 100%;
        min-height: 55vh;
    }
    .flex .slideshow {
        min-height: 15vh;
    }    
    .flex .sidebar {
        min-height: 15vh;
        width: 100%;
    }
}

.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 15% 20% 45% 10%;
}

.grid .menu {
    background-color: #111e5c;
    text-align: center;
    color: aliceblue;
    grid-column: 1/5;
}

.grid .slideshow {
    background-color: #7FFFD4;
    grid-column: 1/5;
}

.grid .feat1 {background-color: #f78820;}
.grid .feat2 {background-color: #6e304e;}
.grid .feat3 {background-color: #B0E0E6;}
.grid .feat4 {background-color: #FFDEAD;}

.grid .text {
    background-color: #EEE8AA;
    grid-column: 1/4;
}

.grid .sidebar {
    background-color: #C0C0C0;
    grid-column: 4/5;
}

.grid .footer {
    grid-column: 1/5;
    text-align: center;
    background-color: yellowgreen;
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 8% 14% 15% 15% 40% 8%;
    }
    .grid .feat1 {grid-column: 1/3;}
    .grid .feat2 {grid-column: 3/5;}
    .grid .feat3 {grid-column: 1/3;}
    .grid .feat4 {grid-column: 3/5;}
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 8% 14% 15% 15% 30% 10% 8%;
    }
    .grid .text {grid-column: 1/5;}    
    .grid .sidebar {grid-column: 1/5;}
}
@media (max-width: 500px) {
    .grid {display: block;}
    .grid .menu {min-height: 5vh;}    
    .grid .slideshow {min-height: 10vh;}    
    .grid .feat1 {min-height: 5vh;}
    .grid .feat2 {min-height: 5vh;}
    .grid .feat3 {min-height: 5vh;}
    .grid .feat4 {min-height: 5vh;}    
    .grid .text {min-height: 40vh;}    
    .grid .sidebar {min-height: 10vh;}    
    .grid .footer {min-height: 5vh;}
}